{
  "nodes": [
    {
      "pm_user": "{{pm_user}}",
      "mac": [
        "{{MAC}}"
      ],
      "pm_type": "pxe_ipmitool",
      "pm_password": "redhat",
      "pm_addr": "172.16.0.135",
      "name": "summit-compute2"
    }
  ]
}
